<!DOCTYPE HTML>
<html th:lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="general-page">
<head>
    <span th:replace="fragments/headerfiles :: headerfiles"/>
    <span th:replace="this :: title"/>
</head>
<body class="sb-nav-fixed">
<nav th:replace="fragments/navbar :: navbar"/>
<div id="layoutSidenav">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div id="layoutSidenav_content">
        <div th:replace="fragments/alerts :: alert"/>
        <main th:insert="this :: content"/>
        <footer th:replace="fragments/footer :: footer"/>
    </div>
</div>
</body>
<span th:replace="~{this :: styles} ?: ~{}"/>
<span th:replace="fragments/scripts:: main-scripts"/>
<span th:replace="~{this :: scripts} ?: ~{}"/>
<script>
    window.setTimeout(function() {
        $(".alert").delay(5000).queue(function () {
            $(this).remove();
        })
    });

    var HttpClient = function () {
        this.get = function (aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function () {
                if (anHttpRequest.readyState === 4 && anHttpRequest.status === 200)
                    aCallback(anHttpRequest.responseText);
            }
            anHttpRequest.open("GET", aUrl, true);
            anHttpRequest.send(null);
        }
    }

    function previousPage(elem) {
        if (!elem.classList.contains("disabled")) {
            let pageId = document.getElementsByClassName("page-item active").item(0).id;
            document.getElementById(pageId).classList.remove("active");
            let previousPageId = parseInt(pageId) - 1;
            previousPageId = String(previousPageId);
            getPage(previousPageId);
        }
    }

    function nextPage(elem) {
        if (!elem.classList.contains("disabled")) {
            let pageId = document.getElementsByClassName("page-item active").item(0).id;
            document.getElementById(pageId).classList.remove("active");
            let nextPageId = parseInt(pageId) + 1;
            nextPageId = String(nextPageId);
            getPage(nextPageId);
        }
    }
</script>
</html>