<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="general-page">
<head>
    <span th:replace="fragments/headerfiles :: headerfiles"/>
    <span th:replace="this :: title"/>
</head>
<body class="sb-nav-fixed">
<nav th:replace="fragments/navbar :: navbar"/>
<div id="layoutSidenav">
    <div th:replace="fragments/sidebar :: sidebar"/>
    <div id="layoutSidenav_content">
        <main th:insert="this :: content"/>
        <footer th:replace="fragments/footer :: footer"/>
    </div>
</div>
<span th:replace="fragments/scripts:: scripts"/>
</body>
</html>