<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="sidebar" id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Personal</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts"
                   aria-expanded="false" aria-controls="collapseLayouts">
                    <div style="line-height: .6em;" class="sb-nav-link-icon"><i class="bi bi-file-lock2"></i></div>
                    Authentication
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                     data-parent="#sidenavAccordion">
                    <nav sec:authorize="isAnonymous()" class="sb-sidenav-menu-nested nav">
                        <!-- Anonymous options -->
                        <a class="nav-link" th:href="@{/login}">Login</a>
                        <a class="nav-link" th:href="@{/register/form}">Register</a>
                        <a class="nav-link" href="#">Forgot Password</a>
                    </nav>
                    <nav sec:authorize="isAuthenticated()" class="sb-sidenav-menu-nested nav">
                        <!-- User options -->
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </nav>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <!-- User bookmark -->
                    <div class="sb-sidenav-menu-heading">Profile</div>
                    <a class="nav-link" href="#">
                        <div style="line-height: .6em" class="sb-nav-link-icon"><i class="bi bi-person-square"></i></div>
                        Profile data
                    </a>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                    <!-- Admin bookmark -->
                    <div class="sb-sidenav-menu-heading">Admin</div>
                    <a class="nav-link" th:href="@{/admin/usersList(username=${#authentication.principal.username})}">
                        <div class="sb-nav-link-icon"><i class="bi bi-pencil-square"></i></div>
                        Edit users
                    </a>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div sec:authorize="isAuthenticated()">
                <div class="small">Logged in as:</div>
                <span th:text="${#authentication.principal.username}"/>
            </div>
            <div sec:authorize="isAnonymous()">
                <div class="small">Anonymous</div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>