<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/general :: general-page">
<head>
    <title th:fragment="title">przemke - edit users</title>
</head>
<body>
<div th:fragment="content" class="container-fluid">
    <select class="custom-select mt-2 col-4">
        <th:block th:each="tempUsername: ${usernames}">
            <option th:value="${tempUsername}" th:text="${tempUsername}"
                    th:selected="${tempUsername == #authentication.principal.username}"/>
        </th:block>
    </select>
    <hr>
    <h5>User data</h5>
    <form action="#" th:action="@{/admin/saveUserData}" method="post" th:object="${user}">
        <div>
            <label>Username</label>
            <input class="form-control col-4" type="text"
                   th:field="*{userName}" placeholder="username">
            <span style="color: red;">
                <td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"/>
            </span>
        </div>
        <div>
            <label class="mt-2">E-mail</label>
            <input class="form-control col-4" type="email"
                   th:field="*{email}" placeholder="email">
            <span style="color: red;">
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
            </span>
        </div>
        <div>
            <label class="mt-2">Password</label>
            <input class="form-control col-4" type="password" id="password" onkeyup='check();'
                   th:field="*{password}" placeholder="password">
            <span style="color: red;">
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            </span>
        </div>
        <div>
            <label class="mt-2">Confirm Password</label>
            <input class="form-control col-4" id="confirm_password" type="password"
                   onkeyup='check();' placeholder="confirm password">
            <span id='message'></span>
        </div>
        <div>
            <div><label class="mt-2">Roles</label></div>
            <div style="float: left;" class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="ROLE_USER">
                    User
                </label>
            </div>
            <div style="float: left;" class="form-check ml-2">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="ROLE_ADMIN">
                    Admin
                </label>
            </div>
        </div>
        <div style="clear: both;">
            <label class="mt-2">Enabled</label>
            <div>
                <select class="custom-select col-4" th:field="*{enabled}">
                    <option th:value="true" th:selected="${user.enabled} == true">Yes</option>
                    <option th:value="false" th:selected="${user.enabled} == false">No</option>
                </select>
            </div>
        </div>
        <input type="hidden" id="currentUsername" name="currentUsername" th:value="${user.userName}">
        <button id="confirm_button" class="btn btn-info mt-3 col-2" type="submit">Save changes</button>
    </form>
</div>
<script th:fragment="scripts">
    const check = function () {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('confirm_button').disabled = false;
            document.getElementById('message').style.display = "none";
        } else {
            document.getElementById('confirm_button').disabled = true;
            document.getElementById('message').style.display = "block";
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    };
</script>
</body>
</html>