<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>przemke - User List Page</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone number</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempUser: ${users}">
                <td th:text="${tempUser.userDetail.firstName}"/>
                <td th:text="${tempUser.userDetail.lastName}"/>
                <td th:text="${tempUser.email}"/>
                <td th:text="${tempUser.userDetail.phoneNumber}"/>
            </tr>
        </tbody>
    </table>
    <div th:insert="fragments/general :: footer"></div>
</body>
<style>
    table {
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
</html>