<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/general :: general-page">
<head>
    <title th:fragment="title">przemke - Announcement list</title>
</head>
<body>
<div th:fragment="content" class="container-fluid">
    <nav style="background-color: #e9ecef;" aria-label="breadcrumb" class="main-breadcrumb mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Announcements</li>
        </ol>
    </nav>
    <h3 th:unless="${pagesCount > 0}" class="mt-3">No announcements</h3>
    <div style="margin-left: 15%; margin-right: 15%;" class="justify-content-center" th:if="${pagesCount > 0}">
        <h2 style="text-align: center;" class="mt-3 mb-5">Announcements</h2>
        <div id="announcements" class="mt-3"></div>
        <ul class="pagination justify-content-center mt-3 mb-3">
            <li id="previousPage" class="page-item" onclick="previousPage(this)">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li th:if="${pagesCount > 0}" th:each="i : ${#numbers.sequence(1, pagesCount)}"
                th:id="${i}" onclick="getPage(this.id)" class="page-item">
                <a class="page-link" href="#" th:text="${i}"></a>
            </li>
            <li id="nextPage" class="page-item" onclick="nextPage(this)">
                <a class="page-link" href="#">Next</a>
            </li>
            <span th:id="pagesCountCheck" th:class="${pagesCount}"></span>
        </ul>
    </div>
</div>
<script th:fragment="scripts">
    const pagesCount = document.getElementById("pagesCountCheck").className;

    window.onload = function () {
        getPage(1);
    }

    function getPage(page) {
        var client = new HttpClient();
        client.get('http://localhost:8080/announcement/getPageForCommunity?page=' + page, function (response) {
            let data = JSON.parse(response);

            for (var i = 1; i <= pagesCount; i++) {
                document.getElementById(i).classList.remove("active");
            }
            document.getElementById(page).classList.add("active");

            if (page <= "1" && page < pagesCount) {
                document.getElementById("previousPage").classList.add("disabled");
                document.getElementById("nextPage").classList.remove("disabled");
            }
            if (page > "1" && page >= pagesCount) {
                document.getElementById("previousPage").classList.remove("disabled");
                document.getElementById("nextPage").classList.add("disabled");
            }
            if (page <= "1" && page >= pagesCount) {
                document.getElementById("previousPage").classList.add("disabled");
                document.getElementById("nextPage").classList.add("disabled");
            }
            if (page > "1" && page < pagesCount) {
                document.getElementById("previousPage").classList.remove("disabled");
                document.getElementById("nextPage").classList.remove("disabled");
            }

            document.getElementById("announcements").innerHTML = '';
            for (let i = 0; i < data.length; i++) {
                document.getElementById("announcements").innerHTML +=
                    "<div style='border: 1px solid black;' class='mb-5 p-3'>" +
                        "<div style='text-align: right;'>" +
                            "<b>" + data[i].author.userDetail.firstName + " " + data[i].author.userDetail.lastName + "</b>, " +
                            data[i].date[2].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}) + "." +
                            data[i].date[1].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}) + "." +
                            data[i].date[0] + " " +
                            data[i].date[3].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}) + ":" +
                            data[i].date[4].toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping: false}) + 
                        "</div>" +
                        "<div style='text-decoration: underline;' class='mt-2'><h2>" + data[i].title + "</h2></div>" +
                        "<div class='mt-5'>" + data[i].content + "</div>" +
                    "</div>";
            }
        })
    }
</script>
</body>
</html>