<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body>
    <span th:if="${exception != null}">
    <h2><span th:text="${exception.title}"/></h2>
        <p>Status: <span th:text="${exception.status}"/></p>
        <p>Timestamp: <span th:text="${exception.timeStamp}"/></p>
        <p>Message: <span th:text="${exception.message}"/></p>
    </span>
    <h2 th:if="${exception == null}" th:text="'500 Internal Server Error'"></h2>
    <div th:insert="fragments/general :: footer"/>
</body>
</html>